* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
  font-weight: 600;
  font-size: 12px;
}

body {
  background-color: #eaeaea;

  display: flex;
  justify-content: flex-start;
}

button:hover {
  transform: scale(0.9);
  cursor: pointer;
}

input {
  display: flex;
  margin: 8px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

article {
  display: flex;
  flex: 1 200px;
  flex-wrap: wrap;
  margin: 10px;
}

.inpts {
  margin: 20px;
}

button {
  display: flex;
  padding: 10px;
  margin: 8px;
  width: 40%;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
}

audio {
  width: 15rem;
}

input:focus {
  outline: none;
}

.subject_area {
  position: absolute;
  top: 300px;
  left: 20px;
}
